@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: black;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(50, 163, 163, 0.904),
    rgba(59, 242, 255, 0.342)
  );
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  font-family: Sriracha;
  font-size: 4vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.thank_you {
  padding: 20px;
  margin: auto;
  font-family: Gloria Hallelujah;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 20vh;
}

h2 {
  font-size: 5vh;
}

.btn {
  background-color: rgba(65, 192, 165, 0.753);
  color: black;
  font-family: open sans;
  font-size: 3vh;
  transition: all 0.2s;
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  border: none;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.4);
}

.btn:hover {
  transform: translate(2%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  transform: translate(-2%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:focus {
  outline: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}
